/* TITLE */

section.supply-intro {
  margin: 0;
  background-color: var(--boxcolor);
  padding: 30px 100px 50px;
  border-radius: 5px;
}

section.supply-intro h1.supply-title-h1 {
  font-size: 200%;
  font-weight: 500;
}

section.supply-intro a {
  font-size: 100%;
}

/* INFO */

section.supply-info {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 50px;
}

section.supply-info div.supply-info-cont{
  display: flex;
  flex-direction: row;
  justify-content:space-around;
  width: 60%;
  padding: 10px;
  background-color: var(--boxcolor);
  border-radius: 10px;
  }

section.supply-info div.supply-info-div{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 40%;
  background-color: rgb(255, 255, 255);
  border-radius: 30px;
  margin: 10px;
}

section.supply-info h1.supply-h {
  font-size: 100%;
  margin: 0;
  padding: 0;
  color: var(--firsttheme);
}

section.supply-info h1.supply-nr {
  font-size: 120%;
  margin: 0;
  padding: 0;
  color: #000000;
}

/* BUTTONS */

.tab-button {
  flex: 1;
  padding: 15px;
  margin: 10px;
  border: none;
  background-color: var(--boxcolor);
  color: black;
  cursor: pointer;
  border-radius: 10px;
  font-size: 90%;
}

.tab-button.active {
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 2px, rgba(0, 0, 0, 0.23) 0px 1px 2px;
  background-color: #f3f0f0;
  color: black;
}

.tab-button:hover {
  background-color: #f3f0f0;
  color: black;
}

.tab-content {
  display: none;
  padding: 10px;
}

.tab-content.active {
  display: block;
} 

/* ACCORDION */

.supply-h1 {
  position: relative;
  padding: 0 20px;
  cursor: pointer;
  /* margin: 0 !important; */
}

.supply-h1:hover {
  background-color: white;
  border-radius: 10px;
  box-shadow: rgba(98, 98, 98, 0.16) 0px 1px 2px, rgba(98, 98, 98, 0.16) 0px 1px 2px;
}

.supply-h1::before {
  content: '+';
  color: black;
  position: absolute;
  top: 50%;
  right: 20px;
  font-size: 30px;
  transform: translateY(-50%);
}

.supply-content {
  /* margin-top: 20px; */
  margin: 0;
  padding: 0;
  position: relative;
  height: 0;
  overflow: hidden;
  transition: 0.5s;
}

.accordion-container.active #supply-content-1 {
  height: 100px;
}

.accordion-container.active #supply-content-2 {
  height: 170px;
}

.accordion-container.active #supply-content-3 {
  height: 240px;
}

.accordion-container.active .supply-h1::before {
  content: '-';
  font-size: 30px;
}

/* SUPPLY TEST */
  
section.supply-test {
  margin: 50px 0;
  width: 100%;
  height: auto;
  /* background: green; */
  display: flex;
  align-items: center;
  justify-content: center;
}

section.supply-test div.supply-test-cont {
  /* margin: 100px 0; */
  width: 80%;
  height: auto;
  /* background: blue; */
  display: flex;
  flex-direction: column;
  /* align-self: center; */
  align-items: center;
  /* border-radius: 10px; */
}

section.supply-test div div.supply-test-div {
  background-color: var(--boxcolor);
  padding: 30px 50px;
  width: 100%;
  height: calc(100% - 20px);
  /* margin-top: 0; */
  border-radius: 20px;
  -webkit-box-shadow: -2px 3px 18px -10px rgba(181,181,181,0.82);
  -moz-box-shadow: -2px 3px 18px -10px rgba(181,181,181,0.82);
  box-shadow: -2px 3px 18px -10px rgba(181,181,181,0.82);
}

.tab-buttons {
  width: 80%;
  display: flex;
  justify-content: center;
  margin: 5px;
  border-radius: 10px 0;
}

div.transaction {
  width: 60%;
  display: flex;
  flex-direction: column;
  background-color: rgb(244, 244, 244);
  border-radius: 40px;
  -webkit-box-shadow: -2px 3px 18px -10px rgba(148, 148, 148, 0.82);
  -moz-box-shadow: -2px 3px 18px -10px rgba(141, 141, 141, 0.82);
  box-shadow: -2px 3px 18px -10px rgba(130, 130, 130, 0.82);
  transition: all .2s ease-in-out; 
  margin: 40px 0;
  padding: 30px;
}

div.transaction:hover {
  transform: scale(1.02); 
}

h1.supply-h1 {
  /* margin: 0 !important; */
  color: black;
}

p.supply-p {
  color: rgb(70, 67, 67) !important;
  font-size: 90%;
}

ul.supply-ul {
  color: rgb(70, 67, 67) !important;
  font-size: 90%;
  margin-left: 20px;
}

.transaction-text {
  box-sizing: border-box;
  display: block;
  width: 80%;
  max-width: 100%;
  border: none;
  padding-left: 20px;
  font-size: 18px;
}

.transaction-text:focus {
  outline: none;
}

.transaction-input {
  padding: 0;
  margin: 10px 10px;
  background-color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.transaction-input .transaction-max{
  padding: 0;
  margin: 0;
  color: gray;
  margin-right: 20px;
}

.transaction-input .transaction-max:hover{
  cursor: pointer;
  color: var(--firsttheme);
}

.dropdown {
  display: inline-block;
  position: relative;
}

button{
  border:none;
  background-color: white;
}

button:hover{
  cursor: pointer;
}

.dropdown-options {
  position: absolute;
  overflow: auto;
  background-color:#fff;
  border-radius:5px;
}

.dropdown-options a {
  /* display: block; */
  text-decoration: none;
  padding:10px 20px;
}

.dropdown-options a:hover {
  cursor: pointer;
}

.transaction-button {
  color: rgb(51, 51, 51) !important;
  background: 
    linear-gradient(
      45deg,
      #f3f0f0,
      var(--firsttheme)
  );
  color: white !important;
  margin: 10px!important;
  max-width: 100% !important;
  font-size: 18px !important;
  border-radius: 3px !important;
}

.transaction-button:hover {
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

.error-container {
  background-color: #E1ECC8;
  background-color: #FFEBB4;
  background-color: #FFBFA9;
  padding: 10px 20px;
  margin: 10px;
  border-radius: 5px;
  color: rgb(34, 34, 34);
  animation: slideDown 3s ease-in-out;
  display: flex;
  display: none;
  justify-content: space-between;
  flex-direction: row;
  text-align: center;
}

.error-container .error-text {
  padding-right: 20px;
  color: rgb(108, 104, 104);/
}

.error-container .error-button {
  background-color: transparent;
  border: none;
  color: rgb(108, 104, 104);
}

.error-container .error-button:hover {
  cursor: pointer;
}


@media only screen and (max-width: 1200px) {
  input[type="button"] {
    border: none;
    color: black;
    background-color: rgba(228, 228, 228, 0.224);
    padding: 20px 20px;
    margin: 10px 20px 40px 20px;
    width: auto;
    font-size: 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.1) 0px 8px 24px;
  }

  .accordion-container.active #supply-content-1 {
    height: 150px;
  }
  
  .accordion-container.active #supply-content-2 {
    height: 250px;
  }

  .accordion-container.active #supply-content-3 {
    height: 300px;
  }
}
  
@media only screen and (max-width: 768px) {


  /* TITLE */

  section.supply-intro {
    margin: 0;
    padding: 30px;
  }

  section.supply-intro h1.supply-title-h1 {
    font-size: 150%;
    margin: 0;
  }

  /* INFO */

  section.supply-info {
    /* display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 50px; */
    /* background-color: green; */
  }

  section.supply-info div.supply-info-cont{
    width: 90%;
    padding: 5px;
    }

  section.supply-info div.supply-info-div{
    width: 50%;
    margin: 5px;
  }

  section.supply-info h1.supply-h {
    font-size: 80%;
  }

  section.supply-info h1.supply-nr {
    font-size: 100%;
  }

  /* SUPPLY */

  section.supply {
    margin: 50px 0;
    padding: 0;
  }

  section.supply-test {
    /* margin: 0 !important; */
    padding: 0 !important;
  }

  section.supply-test div.supply-test-cont {
    margin: 0 !important;
    padding: 0 !important;
    width: 100%;
  }

  section.supply-test div div.supply-test-div {
    /* max-width: 100%; */
    /* width: 95%; */
    width: auto;
    margin: 0 !important;
    padding: 0 20px;
    /* background-color: green; */
  }

  section.supply div.supply-div {
    margin: 50px 0;
    width: auto;
    /* padding: 10px; */
  }

  section.supply h1.supply-h1 {
    font-size: 130%;
    font-weight: 500;
  }

  /* API */
  div.transaction {
    border: 1px solid transparent;
    /* padding: 20px; */
    width: 80%;
  }

  /* DISCLAIMER */
  section.supply div.disclaimer {
    padding: 30px 50px;
  }


  section.supply-intro h1.supply-title-h1 {
    font-size: 20px;
    font-weight: 500;
  }

  p {
    font-size: 16px !important;
  }

  .accordion-container.active #supply-content-1 {
    height: 160px;
    overflow: scroll;
    overflow-x: hidden;
  }
  
  .accordion-container.active #supply-content-2 {
    height: 270px;
    overflow: scroll;
    overflow-x: hidden;
  }

  .accordion-container.active #supply-content-3 {
    height: 300px;
    overflow: scroll;
    overflow-x: hidden;
  }

  .transaction-text {
    font-size: 14px;
  }
  .transaction-input .transaction-max{
    padding: 5px 0;
  }
}
  