section {
    margin: 0;
    padding: 100px 200px;
}

h1 {
    font-weight: 500;
}

h2 {
    font-weight: 500;
    margin-top: 50px;
}

@media only screen and (max-width: 768px) {
    section {
        margin: 0;
        padding: 40px;
    }
}