/* DASHBOARD */

.connectBtn {
  --radix-connect-button-width: 138px;
  --radix-connect-button-height: 35px;
  --radix-connect-button-border-radius: 10px;
}

section.dashboard {
  display: none;
}

.web-dashboard {
  background-color: #f6f6f670;
  background: linear-gradient(
      0deg,
      var(--boxcolor),
      var(--boxcolor),
      #f6f6f683,
      #f6f6f62b,
      #f6f6f600
    );
  position: absolute;
  bottom: 0;
  right: 0;
  display: flex;
  justify-content: space-evenly;
  min-width: 300px;
  max-width: 450px;
  width: 50%;
  height: auto;
  border-top-left-radius: 5px;
}

.web-dashboard-div {
  padding: 10px;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.web-dashboard-div h1 {
  text-align: center;
  margin: 0 !important;
  font-size: 20px;
  font-weight: 400;
}

/* TEMP TOP BANNER */

  header nav div div.logo a {
      position: relative;
      z-index: 1;
    }
  
  #banner-div {
    height: auto;
    background-color: #414248;
    position: fixed;
    top: 0;
    margin: 0;
    padding: 0;
    width: 100%;
    z-index: 9999;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  
  #banner-p {
    height: auto;
    color: var(--boxcolor);
    margin: 0;
    padding: 10px 0 10px 30px;
    width: 100%;
    text-align: center;
    font-size: 17px;
  }
  
  #banner-dismiss {
    background-color: transparent;
    border-width: 0;
    cursor: pointer;
    margin: 0;
    touch-action: manipulation;
    margin-right: 10px;
    justify-self: flex-end;
    color: var(--boxcolor);
  }
  
/* HEADER */
header {
  background: linear-gradient(
    45deg,
    var(--gradient1),
    var(--gradient2),
    var(--gradient3),
    var(--gradient4),
    var(--gradient5),
    var(--gradient4),
    var(--gradient3),
    var(--gradient2),
    var(--gradient1)
  );
  background-size: 300% 300%;
  animation: color 10s linear infinite alternate;
  overflow: hidden;
  margin-bottom: 0;
  height: 600px;
}

#non-index {
  height: 400px !important;
}

/* ANIMATION */
@keyframes color {
  0% {
    background-position: 0 50%;
  }
  100% {
    background-position: 100% 50%;
  }
}

/* ANIMATION - Pulse */
@keyframes pulse {
  0%, 100% {
    background-size: 200% 200%;
  }
  50% {
    background-size: 250% 250%;
  }
}
  
  header nav {
    width: 100%;
    height: 100px;
    background-color: transparent;
    position: fixed;
    transition: height 0.3s ease, background-color 0s ease;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 999;
  }

  
  header nav div.wrapper {
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  header nav div div.logo {
    display: flex;
    margin: 0 50px;
  }
  
  header nav div div.logo img {
    height: 50px;
    border-radius: 10px;
    display: block;
  }
  
  header nav div div.logo img.logo-transparant {
    display: none;
  }
  
  header nav div div.navigation-div {
    position: absolute;
    width: 100%;
  }
  
  header nav div ul.navigation {
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
  }
  
  header nav div ul li {
    padding: 0 10px;
  }
  
  header nav div ul li::before {
    content: none;
  }
  
  header nav div div ul li a {
    text-decoration: none;
    color: black;
    font-size: 20px;
  }
  
  .connectBtn {
    padding-right: 50px;
    display: flex;
  }
  
  /* BANNER */
  /* banner with background */
  #banner {
    position: relative;
    width: 100%;
    height: 600px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  #banner-class {
    display: flex;
    flex-direction: column;
    height: auto;
    padding: 0;
    margin: 0;
  }

  @font-face {
    font-family: 'proxima_nova_rgregular';
    src: url('https://litmus.com/fonts/Emails/proximanova-regular-webfont.eot');
    src: url('https://litmus.com/fonts/Emails/proximanova-regular-webfont.eot?#iefix') format('embedded-opentype'),
       url('https://litmus.com/fonts/Emails/proximanova-regular-webfont.woff') format('woff'),
       url('https://litmus.com/fonts/Emails/proximanova-regular-webfont.ttf') format('truetype'),
       url('https://litmus.com/fonts/Emails/proximanova-regular-webfont.svg#proxima_nova_rgregular') format('svg');
    font-weight: normal;
    font-style: normal;
  }

  @font-face {
    font-family: 'proxima_nova_rgbold';
    src: url('https://litmus.com/fonts/Emails/proximanova-bold-webfont.eot');
    src: url('https://litmus.com/fonts/Emails/proximanova-bold-webfont.eot?#iefix') format('embedded-opentype'),
       url('https://litmus.com/fonts/Emails/proximanova-bold-webfont.woff') format('woff'),
       url('https://litmus.com/fonts/Emails/proximanova-bold-webfont.ttf') format('truetype'),
       url('https://litmus.com/fonts/Emails/proximanova-bold-webfont.svg#proxima_nova_rgbold') format('svg');
    font-weight: normal;
    font-style: normal;
  }
  
  #banner-class h1 {
    padding: 0;
    margin: 0;
  }

  #proxima-bold {
    font-family: 'proxima_nova_rgregular';
    letter-spacing: 10px;
    font-size: 200%;
    font-weight: 500;

    color: #0000;
    --g: no-repeat linear-gradient(var(--firsttheme) 0 0) 0 0;
    background: var(--g), var(--g);
    background-size: 0 100%;
    -webkit-background-clip: padding-box,text;
            background-clip: padding-box,text;
    -webkit-box-decoration-break: clone;
            box-decoration-break: clone;
    animation: 
      t 1.2s  .5s both,
      b 1.2s 1.3s both;
  }
  @keyframes t{
    to {background-size:150% 100%}
  }
  @keyframes b {
    to {background-position:-200% 0,0 0}
  }
  
  /* hide text  */
 .hide-text {
    visibility: hidden;
  }
  
  /* INTRODUCTION */
  section.introduction {
    background: var(--boxcolor);
    height: auto;
    display: flex;
  }
  
  section.introduction div {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  
  section.introduction div h1 {
    font-size: 200%;
    font-weight: 500;
    max-width: 100%;
    margin: 20px 0;
    padding: 0 100px;
  }
  
  section.introduction div p {
    margin: 0;
    margin-bottom: 50px;
    padding: 0 100px;
    /* font-size: 25px; */
  }
  
  @media only screen and (max-width: 1080px) {
    header nav div div.logo {
      display: flex;
      margin: 0 20px;
    }
  
    header nav div ul li {
      padding: 0;
    }
  
    .connectBtn {
      padding-right: 20px;
    }
  }
  
  @media only screen and (min-width: 768px) {

    nav.scrolled {
      background: var(--firsttheme);
      height: 60px;
      transition: 0.3s;
    }
  
    nav.scrolled ul li a {
      color: white;
    }
  
    nav.scrolled img.logo {
      display: none;
    }
  
    nav.scrolled .logo img.logo-transparant {
      display: block;
    }
  
    nav.scrolled a:hover {
      color: black;
    }
  }
  
  @media only screen and (max-width: 768px) {

    #proxima-bold {
      font-family: 'proxima_nova_rgregular';
      letter-spacing: 5px;
      font-size: 100%;
      font-weight: 500;
      margin-bottom: 50px;
    }

    /* DASHBOARD */
    div.web-dashboard {
      width: 100%;
      bottom: 0;
      right: auto;
      min-width: none;
      max-width: none;
      border-top-left-radius: 0px;
    }

    .web-dashboard-div h1 {
      font-size: 16px;
    }

    /* TEMP BANNER */
    #banner-p {
      padding-left: 10px;
      font-size: 70%;
    }
  
    /* HEADER */

    header {
      animation: none;
      height: 300px;
    }

    #non-index {
      height: 250px !important;
    }
  
    header nav {
      position: absolute;
      align-items: center;
      justify-content: left;
      height: 50px;
      transition: all;
    }
  
    header nav div.wrapper {
      position: absolute;
      align-items: center;
    }
  
    header nav div div.logo {
      display: none;
    }
  
    header nav div div.logo {
      display: flex;
      margin: 20px 15px;
      flex: 1;
    }
  
    /* center button */
    header nav div::after {
      flex: 1;
      content: '';
    }
  
    header nav div ul.navigation {
      display: none;
    }
  
    header nav div div.logo img {
      height: 40px;
    }
  
    header nav.show {
      opacity: 1;
      position: fixed;
      background-color: var(--firsttheme);
      height: 50px;
    }

    header nav.show #menuToggle span {
      background-color: white;
      transition: background-color 0s;
    }
  
    header nav.show .logo img.logo-transparant {
      display: block;
    }
  
    header nav.show .logo img.logo {
      display: none;
    }
  
    #banner {
      height: 300px;
    }
  
    /* ensure text is in center - thus 50px lower to account for navigation bar*/
    #banner h1 {
      margin-top: 25px;
    }
  
    .hide-text {
      visibility: visible;
    }
  
    /* INTRODUCTION */
    section.introduction {
      margin: 0;
    }
  
    section.introduction div {
      display: flex;
      flex-direction: column;
      width: 100%;
    }
  
    section.introduction div h1 {
      font-size: 22px;
      margin: 20px 0;
      padding: 0 20px;
      text-align: center;
    }
  
    section.introduction div p {
      margin: 0;
      margin-bottom: 30px;
      padding: 0 40px;
    }
  }
  