/* TITLE */

section.borrow-intro {
  margin: 0;
  background-color: var(--boxcolor);
  padding: 30px 100px 50px;
  border-radius: 5px;
}

section.borrow-intro h1.borrow-title-h1 {
  font-size: 200%;
  font-weight: 500;
}

section.borrow-intro a {
  font-size: 100%;
}

/* INFO */

section.borrow-info {
  display: flex;
  justify-content: center;
  width: 100%;
  /* background-color: green; */
  margin-top: 50px;
}

section.borrow-info div.borrow-info-cont{
  display: flex;
  flex-direction: row;
  justify-content:space-around;
  width: 60%;
  padding: 10px;
  background-color: var(--boxcolor);
  border-radius: 10px;
  }

section.borrow-info div.borrow-info-div{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 40%;
  background-color: rgb(255, 255, 255);
  border-radius: 30px;
  margin: 10px;
}

section.borrow-info h1.borrow-h {
  font-size: 100%;
  margin: 0;
  padding: 0;
  /* color: #9e9e9e; */
  color: var(--firsttheme);
}

section.borrow-info h1.borrow-nr {
  font-size: 120%;
  margin: 0;
  padding: 0;
  color: #000000;
}

/* BUTTONS */

.tab-button {
  flex: 1;
  padding: 15px;
  margin: 10px;
  border: none;
  background-color: var(--boxcolor);
  cursor: pointer;
  border-radius: 10px;
  font-size: 90%;
  color: black;
}

.tab-button.active {
  background-color: #f3f0f0;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 2px, rgba(0, 0, 0, 0.23) 0px 1px 2px;
  color: black;
}

.tab-button:hover {
  background-color: #f3f0f0;
  color: black;
}

.tab-content {
  display: none;
  padding: 10px;
}

.tab-content.active {
  display: block;
} 

/* ACCORDION */

.borrow-h1 {
  position: relative;
  padding: 0 20px;
  cursor: pointer;
  /* margin: 0 !important; */
}

.borrow-h1:hover {
  background-color: white;
  border-radius: 10px;
  box-shadow: rgba(98, 98, 98, 0.16) 0px 1px 2px, rgba(98, 98, 98, 0.16) 0px 1px 2px;
}

.borrow-h1::before {
  content: '+';
  color: black;
  position: absolute;
  top: 50%;
  right: 20px;
  font-size: 30px;
  transform: translateY(-50%);
}

.borrow-content {
  /* margin-top: 20px; */
  margin: 0;
  padding: 0;
  position: relative;
  height: 0;
  overflow: hidden;
  transition: 0.5s;
}

.accordion-container.active #borrow-content-1 {
  height: 150px;
}

.accordion-container.active #borrow-content-2 {
  height: 120px;
}

.accordion-container.active .borrow-h1::before {
  content: '-';
  font-size: 30px;
}

/* BORROW TEST */
  
section.borrow-test {
  margin: 50px 0;
  width: 100%;
  height: auto;
  /* background: green; */
  display: flex;
  align-items: center;
  justify-content: center;
}

section.borrow-test div.borrow-test-cont {
  /* margin: 100px 0; */
  width: 80%;
  height: auto;
  /* background: blue; */
  display: flex;
  flex-direction: column;
  /* align-self: center; */
  align-items: center;
  /* border-radius: 10px; */
}

section.borrow-test div div.borrow-test-div {
  background-color: var(--boxcolor);
  padding: 30px 50px;
  width: 100%;
  height: calc(100% - 20px);
  /* margin-top: 0; */
  border-radius: 20px;
  -webkit-box-shadow: -2px 3px 18px -10px rgba(181,181,181,0.82);
  -moz-box-shadow: -2px 3px 18px -10px rgba(181,181,181,0.82);
  box-shadow: -2px 3px 18px -10px rgba(181,181,181,0.82);
}

.tab-buttons {
  width: 80%;
  display: flex;
  justify-content: center;
  margin: 5px;
  /* margin-bottom: 20px; */
  border-radius: 10px 0;
}

  
  div.transaction {
    /* max-width: 600px; */
    width: 60%;
    display: flex;
    flex-direction: column;
    background-color: rgb(244, 244, 244);
    border-radius: 40px;
    -webkit-box-shadow: -2px 3px 18px -10px rgba(148, 148, 148, 0.82);
    -moz-box-shadow: -2px 3px 18px -10px rgba(141, 141, 141, 0.82);
    box-shadow: -2px 3px 18px -10px rgba(130, 130, 130, 0.82);
    transition: all .2s ease-in-out; 
    margin: 40px 0;
    padding: 30px;
  }

  div.transaction:hover {
    transform: scale(1.02); 
  }
  
  h1.borrow-h1 {
    margin: 0 !important;
    color: black;
  }

  p.borrow-p {
    color: rgb(70, 67, 67) !important;
    font-size: 90%;
  }

  ul.borrow-ul {
    color: rgb(70, 67, 67) !important;
    font-size: 90%;
    margin-left: 20px;
  }
  
  .transaction-text {
    box-sizing: border-box;
    display: block;
    max-width: 100%;
    /* width: 80%; */
    border: none;
    border-radius: 3px;
    margin: 10px 10px;
    padding-left: 20px;
    /* background-color: var(--boxcolor); */
    font-size: 18px;
    height: 40px;
  }
  
  .transaction-text:focus {
    outline: none;
  }
  
  .transaction-button {
    margin: 10px!important;
    max-width: 100% !important;
    font-size: 18px !important;
    border-radius: 3px !important;
    color: white !important;
    /* background: rgb(177, 177, 177) !important;   */
    background: 
      linear-gradient(
        45deg,
        #f3f0f0,
        var(--firsttheme)
    );
  }
  
  .transaction-button:hover {
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  }

  .error-container {
    padding: 10px 20px;
    margin: 10px;
    border-radius: 5px;
    color: rgb(34, 34, 34);
    animation: slideDown 3s ease-in-out;
    /* display: flex; */
    display: none;
    justify-content: space-between;
    flex-direction: row;
    text-align: center;
  }

  .error-container .error-text {
    padding-right: 20px;
    color: rgb(108, 104, 104);
  }

  .error-container .error-button {
    background-color: transparent;
    border: none;
    color: rgb(108, 104, 104);
  }

  .error-container .error-button:hover {
    cursor: pointer;
  }

  #borrow-receipt-container {
    width: auto;
    margin: 10px;
    background-color: #393939;
    /* padding: 0 10px 20px; */
    border: 1px solid #ccc;
    border-radius: 10px;
    font-family: 'Courier New', monospace;
    font-size: 16px;
    border: none !important;
    display: flex;
    flex-direction: column;
    /* background-color: green; */
  }

  #borrow-receipt-container #copy {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    color: white !important;
    /* padding-right: 20px; */
    background-color: #545454;
    width: 100%;
    /* height: 40px; */
    /* margin-bottom: 20px; */
    border-radius: 10px 10px 0 0;
  }

  #borrow-receipt-container #copy:hover {
    cursor: pointer;
  }


  #borrow-receipt-container #copy img {
    margin-right: 10px;
    color: white;
    stroke: yellow;
  }

  #borrow-receipt-container #copy p {
    margin: 0 30px 0 0;
    color: white;
  }

  #borrow-receipt {
    margin: 0 !important; 
    padding: 30px 20px !important;
    border: none !important;
    overflow:auto;
    font-size: 16px;
    color: rgb(227, 189, 118);
    /* background-color: red; */
  }

  @media only screen and (max-width: 1200px) {
  
    .accordion-container.active #borrow-content-1 {
      height: 200px;
    }
    
    .accordion-container.active #borrow-content-2 {
      height: 160px;
    }
  
  }
 
  @media only screen and (max-width: 768px) {
    /* TITLE */

    section.borrow-intro {
      margin: 0;
      padding: 30px;
    }

    section.borrow-intro h1.borrow-title-h1 {
      font-size: 150%;
      margin: 0;
    }

    /* INFO */

    section.borrow-info {
      /* display: flex;
      justify-content: center;
      width: 100%;
      margin-top: 50px; */
    }

    section.borrow-info div.borrow-info-cont{
      width: 90%;
      padding: 5px;
      }

    section.borrow-info div.borrow-info-div{
      width: 50%;
      margin: 5px;
    }

    section.borrow-info h1.borrow-h {
      font-size: 80%;
    }

    section.borrow-info h1.borrow-nr {
      font-size: 100%;
    }
  
    /* FLASHLOANS */

    div.transaction {
      width: 80%;
      padding: 30px;
    }

    section.flashloan div.flashloan-intro {
      margin: 0;
    }
  
    section.flashloan div.flashloan-steps {
      margin: 40px 0;
    }
  
    section.flashloan div.flashloan-disclaimer {
      margin-top: 0;
    }

    section.flashloan h1.flashloan-h1 {
      font-size: 150%;
      font-weight: 500;
    }

    #receipt {
      overflow:scroll;
      font-size: 14px;
    }

    .tab-button {
      font-size: 14px;
      /* color: black; */
    }

    #borrow-receipt-container {
      margin: 0;
    }

    #borrow-receipt {
      margin: 0 !important; 
      padding: 10px 5px !important;
      border: none !important;
      overflow:auto;
      font-size: 13px;
    }

    section.borrow-intro h1.borrow-title-h1 {
      font-size: 20px;
      font-weight: 500;
    }

    p {
      font-size: 16px !important;
    }

    .accordion-container.active #borrow-content-1 {
      height: 300px;
      overflow: scroll;
      overflow-x: hidden;
    }
    
    .accordion-container.active #borrow-content-2 {
      height: 250px;
      overflow: scroll;
      overflow-x: hidden;
    }
  }
  