/* SLOGAN */

div.slogan {
    background-color: var(--footer1);
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 100px 0;
    padding: 50px 0;
}

#slogan-h1 {
    font-size: 250%;
    font-weight: 800;
    text-align: center;
    margin: 0;
    padding: 0 50px;
}

/* TEAM */

section.team {
    background-color: var(--boxcolor);
    margin: 0 50px;
    padding: 50px;
    height: auto;
    border-radius: 5px;
    display: flex;
}

section.team div.team-text {
    padding-right: 50px;
    align-self: center;
    display: flex;
    flex-direction: column;
}

section.team div.team-img {
    width: auto;
    margin-right: 20px;
    align-self: center;
}

section.team div img {
    height: 250px;
    border-radius: 10px;
}

/* ABOUT */

section.about {
    background-color: rgb(246, 246, 246);
    margin: 50px;
    height: auto;
    border-radius: 5px;
}

section.about div {
    padding: 30px 50px;
    height: auto;
    align-self: center;
}

/* CONTACT */

section.contact {
    background-color: rgb(246, 246, 246);
    margin: 50px;
    height: auto;
    border-radius: 5px;
}

section.contact div {
    padding: 30px 50px;
    height: auto;
    align-self: center;
}

#mail {
    font-size: 16px;
}

@media only screen and (max-width: 768px) {

/* SLOGAN */

div.slogan {
    padding: 20px 0;
}

#slogan-h1 {
    font-size: 150%;
}

/* TEAM */

section.team {
    background-color: var(--boxcolor);
    margin: 0;
    margin-bottom: 50px;
    padding: 30px 40px;
    flex-direction: column;
}

section.team div.team-img {
    margin: 30px 0 0 0;
}

section.team div img {
    height: 250px;
}

/* ABOUT */

section.about {
    margin: 0 0 40px 0;
}

/* CONTACT */

section.contact {
    margin: 0;
    margin-bottom: 50px;
}

#mail {
    font-size: 13px;
}

}
