/* STATS */

section.stats {
    background: var(--boxcolor);
    height: auto;
    width: auto;
}

section.stats div {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    /* max-width: 100%; */
    flex: 1; 
    height: auto;
}

section.stats div div.stats-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: auto;
    max-width: 400px;
    /* height: 200px; */
    border-right: solid;
    border-color: lightgray;
    margin: 10px 0;
}

section.stats div div.stats-divs {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: auto;
    max-width: 400px;
    margin: 10px 20px;
    position: relative; /* Add position: relative to the div */
}

/* section.stats div div.stats-divs::before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: -1px;
    width: 1.5px;
    height: 70%;
    background-color: lightgray;
} */

section.stats div div.stats-divs:first-child::before {
    display: none; /* Hide the border on the first div */
}



section.stats div div h1{
    font-size: 200%;
    font-weight: 400;
    max-width: 100%;
    margin: 0;
    margin-top: 20px;
    padding: 0;
}

section.stats div div.apy {
    display: flex;
    flex-direction: column;
}

section.stats div div div.apy-div {
    display: flex;
    flex: 1;
    width: 100%;
}

.show-stats{
    font-family: Roboto;
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    font-size: 30px;
    margin: 0;
    padding: 0;
    line-height: 2;
    color: black;
}

section.chart-section {
    margin: 100px 0;
}

section.chart-section #chart {
    max-width: 100%; 
    height: 500px;
}

section.chart-section #button {
    width: 100%;
    display: flex;
    justify-content: center;
}

section.chart-section .chart-button {
    background-color: var(--secondthemetransparant);
    border-radius: 2px;
    border-width: 0;
    cursor: pointer;
    display: inline-block;
    line-height: 20px;
    list-style: none;
    margin: 0 20px;
    padding: 10px 50px;
    text-align: center;
    transition: all 200ms;
    vertical-align: baseline;
    white-space: nowrap;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    margin-top: 10px;
    width: auto;
    font-size: 20px;
}

/* DASHBOARD */

#error-message {
    display: flex;
    flex-direction: row;
    /* align-items: center; */
    /* justify-content: space-between; */
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgb(190, 190, 225);
    color: black;
    border: 1px solid rgb(171, 171, 213);
    padding: 10px;
    border-radius: 4px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
    word-break: break-word; /* Allow the error message to wrap to the next line */
  }
  
  .error-content {
    flex-grow: 1; /* Allow the error content to expand and fill the available space */
  }
  
  #close-button {
    background: none;
    border: none;
    font-size: 18px;
    font-weight: bold;
    color: black;
    cursor: pointer;
  }

section.supplier-dashboard {
    margin-top: 100px;
}

.h1 {
    font-size: 300%;
    font-weight: 300%;
    text-align: center;
}

section.supplier-dashboard .dashboard-input{
    padding: 0;
}

section.supplier-dashboard .dashboard-go {
    display: flex;
    flex-direction: row;
    margin: 20px 50px;
    padding: 0;
}

.dashboard-text {
    box-sizing: border-box;
    display: block;
    max-width: 100%;
    border: none;
    border-radius: 3px;
    padding-left: 10px;
    background-color: var(--boxcolor);
    font-size: 18px;
    height: 40px;
}

.dashboard-text:focus {
    outline: none;
}

.dashboard-button {
    background-color: var(--secondthemetransparant) !important;
    margin: 0 10px !important;
    width: 80px !important;
    font-size: 18px !important;
    border-radius: 3px !important;
}

.dashboard-button:hover {
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

section.supplier-dashboard div.dashboard {
    background: var(--boxcolor);
    margin: 0 50px;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

section.supplier-dashboard div.dashboard h1.stats-h1 {
    margin: 0;
    padding: 0;
    font-size: 30px;
}

section.supplier-dashboard .dashboard-category {
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-right: none;
    border-bottom: solid;
    border-color: lightgray;
    padding: 20px;
}

section.supplier-dashboard .dashboard-category:last-child {
    border-bottom: none; /* Remove the bottom border for the last div */
}

div.stats-placeholder {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 60px;
}

@media only screen and (max-width: 768px) {
    
    #coming-soon {
        font-size: 300%;
        font-weight: 300%;
    }

    section.stats div {
        flex-direction: column;
        padding: 10px;
    }

    section.stats div div.stats-div {
        width: 80%;
        border-right: none;
        border-bottom: solid;
        border-color: lightgray;
        margin: 0 10px;
        height: auto;
    }

    section.stats div div:last-child {
        border-bottom: none; /* Remove the bottom border for the last div */
    }

    section.stats div div h1 {
        font-size: 150%;
        font-weight: 300;
        margin: 0;
        padding: 0;
    }

    .show-stats{
        font-weight: 300;
        font-size: 130%;
    }

    section.stats div div div.apy-div {
        flex-direction: row;
        margin: 0;
        padding: 0;
    }


    section.chart-section #button {
        width: 100%;
        display: flex;
        /* justify-content: center; */
    }
    
    section.chart-section .chart-button {
        background-color: var(--secondthemetransparant);
        border-radius: none;
        border-width: none;
        /* cursor: pointer; */
        /* display: inline-block; */
        /* line-height: 20px; */
        /* list-style: none; */
        margin: 0 2px;
        padding: 0;
        /* text-align: center;
        transition: all 200ms;
        vertical-align: baseline;
        white-space: nowrap;
        user-select: none;
        -webkit-user-select: none;
        touch-action: manipulation;
        margin-top: 10px;
        width: auto;
        font-size: 20px; */
        width: 100%;
        height: 40px;
    }

    section.supplier-dashboard {
        margin-bottom: 50px;
    }
    
    .h1  {
        font-size: 200%;
        font-weight: 300;
    }

    section.supplier-dashboard .dashboard-go {
        display: flex;
        flex-direction: column;
    }

    .dashboard-text {
        /* box-sizing: border-box;
        display: block;
        max-width: 100%;
        border: none;
        border-radius: 3px;
        padding-left: 10px;
        background-color: var(--boxcolor);
        font-size: 18px;*/
        height: 50px; 
        text-align: center;
    }
    
    .dashboard-text:focus {
        outline: none;
    }
    
    .dashboard-button {
        /* background-color:; */
        margin: 0 !important;
        width: 100% !important;
        /* font-size: 18px !important;
        border-radius: 3px !important; */
    }
    
    .dashboard-button:hover {
        box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    }
    
    section.supplier-dashboard div.dashboard {
        background: var(--boxcolor);
        margin: 0;
    }

    section.supplier-dashboard div.dashboard h1.stats-h1{
        font-size: 150%;
        font-weight: 300;
    }

    #error-message {
        /* display: flex;
        align-items: center;
        justify-content: space-between;
        position: fixed;
        bottom: 20px;
        left: 50%;
        transform: translateX(-50%);
        background-color: rgb(190, 190, 225);
        color: black;
        border: 1px solid rgb(171, 171, 213);
        padding: 10px 20px;
        border-radius: 4px;
        box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2); */
        width: auto;

      }

}