/* TITLE */

section.supply-title {
    text-align: center;
    margin: 20px 0;
    display: flex;
    flex-direction: column;
  }
  
  section.supply-title .supply-title-h1 {
    font-size: 250%;
    font-weight: 500;
    margin: 100px 0 50px;
  }
  
  section.supply-title .supply-title-h2 {
    margin: 0;
  }
  
  /* JUMP */
  
  section.jump {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    margin: 0;
    padding: 20px 50px;
    background-color: var(--boxcolor);
  }
  
  fieldset {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    width: auto;
    height: auto;
    padding: 0 20px;
    margin: 30px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    text-align: center;
  }
  
  legend {
    font-size: 150%;
    color: var(--firsttheme);
    padding: 0 40px;
  }
  
  input[type="button"] {
    border: none;
    color: black;
    background-color: rgb(228, 228, 228);
    padding: 30px 100px;
    margin: 10px 20px 40px 20px;
    width: auto;
    font-size: 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.1) 0px 8px 24px;
  }
  
  input[type="button"]:hover {
    background-color: var(--firsttheme);
    color: white;
  }
  
  /* TEMP INSTANTIATE COMPONENT */
  
  section.instantiate {
    padding: 30px 50px;
    align-self: center;
    margin: 50px;
    background-color: var(--boxcolor);
    border-radius: 5px;
  }
  
  /* SUPPLY */
  
  section.supply {
    background-color: white;
    margin: 50px 0;
    border-radius: 5px;
  }
  
  section.supply div.supply-div {
    padding: 30px 50px;
    align-self: center;
    margin: 50px;
    background-color: var(--boxcolor);
    border-radius: 5px;
  }
  
  section.supply h1.supply-h1 {
    font-size: 200%;
    font-weight: 600;
  }
  
  section.supply div.supply-div ul {
    padding-left: 20px;
  }
  
  /* API */
  
  div.transaction {
    margin: 50px 0;
    max-width: 600px;
    display: flex;
    flex-direction: column;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px;
    background-color: rgb(233, 232, 232);
    border-radius: 5px;
    border: 1px solid transparent;
    padding: 20px;
  }
  
  div.transaction-title {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
  
  .transaction-icon {
    height: 10px;
    width: 10px;
  }
  
  .transaction-h2 {
    color: var(--firsttheme);
    padding: 0;
    margin: 10px 20px;
    text-align: center;
    font-weight: 600;
    font-size: 26px;
  }
  
  .transaction-text {
    box-sizing: border-box;
    display: block;
    max-width: 100%;
    border: none;
    border-radius: 3px;
    margin: 10px 10px;
    padding-left: 10px;
    background-color: var(--boxcolor);
    font-size: 18px;
    height: 40px;
  }
  
  .transaction-text:focus {
    outline: none;
  }
  
  .transaction-button {
    background-color: var(--boxcolor) !important;
    margin: 10px !important;
    width: 100px !important;
    font-size: 18px !important;
    border-radius: 3px !important;
    color: black !important;
  }
  
  .transaction-button:hover {
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  }
  
  
  /* PAYOUT SCHEME */
  
  section.supply div.payout-scheme {
    padding: 20px 50px;
    background-color: var(--body1);
  }
  
  section.supply div.payout-scheme ul {
    padding-left: 20px;
  }
  
  /* DISCLAIMER */
  
  section.supply div.disclaimer {
    padding: 40px 50px;
    background-color: var(--body2);
  }
  
  section.supply div.disclaimer button.background {
    background-color: var(--boxcolor);
  }
  
  @media only screen and (max-width: 768px) {
    /* JUMP */
    section.jump {
      padding: 20px;
    }
  
    fieldset {
      flex-direction: column;
      padding: 0 20px;
      margin: 15px 0;
    }
  
    legend {
      font-size: 100%;
      padding: 0 40px;
    }
  
    input[type="button"] {
      padding: 15px 30px;
      margin: 10px 20px 20px;
      font-size: 14px;
    }
  
    /* TITLE */
    section.supply-title .supply-title-h1 {
      font-size: 200%;
      font-weight: 600;
    }
  
    /* SUPPLY */
    section.supply {
      margin: 50px 0;
    }
  
    section.supply div.supply-div {
      margin: 50px 0;
    }
  
    section.supply h1.supply-h1 {
      font-size: 130%;
      font-weight: 500;
    }
  
    /* API */
    div.transaction {
      border: 1px solid transparent;
      padding: 20px;
    }
  
    /* DISCLAIMER */
    section.supply div.disclaimer {
      padding: 30px 50px;
    }
  }
  